<div x-data="addToCart({{ product | json | escape }}, {{ box_config | json | escape }})">
  <div x-show="!isLoading" @click="addProductToCart" class="cursor-pointer">
    <svg
      fill="currentColor"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="24px"
      height="24px"
      viewBox="0 0 390.707 390.707"
    >
      <g>
        <g>
          <path d="M188.853,271.375v46.716h-17.181c-3.585,0-6.501,2.917-6.501,6.503c0,3.584,2.917,6.5,6.501,6.5h47.364
            c3.586,0,6.502-2.916,6.502-6.5c0-3.586-2.918-6.503-6.502-6.503h-17.18v-46.72c12.486-1.586,24.439-7.625,33.704-17.038
            c11.813-12.005,18.321-28.603,18.321-46.733c0-3.586-2.917-6.502-6.501-6.502H143.33c-3.585,0-6.501,2.916-6.501,6.502
            c0,18.147,6.482,34.744,18.252,46.729C164.333,263.75,176.311,269.792,188.853,271.375z M240.535,214.1
            c-3.002,27.983-25.248,44.684-45.182,44.684c-19.758,0-42.215-15.655-45.195-44.684H240.535z"></path>
          <path d="M357.334,153.441v-0.036c0-0.82,0-2.346-24.871-145.062l-0.039-0.206C331.45,3.422,327.251,0,322.435,0H68.304
            c-4.815,0-9.016,3.422-9.99,8.144L58.274,8.35C42.623,98.165,34.533,145.193,33.546,152.095c-0.128,0.648-0.193,1.315-0.193,1.981
            v226.43c0,5.625,4.576,10.201,10.201,10.201h303.598c5.625,0,10.201-4.576,10.201-10.201v-226.43
            C357.354,153.862,357.347,153.651,357.334,153.441z M202.354,13.999h116.885c8.428,48.373,18.575,106.928,22.455,129.876h-139.34
            V13.999z M71.5,13.999h116.854v129.876H49.045C52.922,120.943,63.071,62.384,71.5,13.999z M343.354,376.707h-296v-218.83h296
            V376.707z"></path>
        </g>
      </g>
    </svg>
  </div>
  <div x-show="isLoading">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>
  </div>
</div>
