<div class="w-2/3 float-left flex gap-20">
  {%- for block in section.blocks -%}
    {%- for link0 in block.settings.menu.links -%}
      <div>
        <h6 class="pb-6 font-josefin uppercase text-sm">{{ link0.title }}</h6>
        <ul>
          {%- for link1 in link0.links -%}
            <li class="mb-4">
              <a href="{{ link1.url }}">{{ link1.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endfor -%}
  {%- endfor -%}
</div>
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ]
}
{% endschema %}
