<div class="w-3/4 float-left flex">
  {%- for block in section.blocks -%}
    <div>
      <h6>{{ block.settings.heading }}</h6>
      <ul>
        {%- for link in block.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endfor -%}
</div>
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ]
}
{% endschema %}
