<div class="flex">
  <div class="w-80"></div>
  <div class="w-32 my-2 mx-auto rounded-full bg-black">
    <a href="/">
      {% render 'logo' %}
    </a>
  </div>
  <div class="w-80 pr-40 flex items-center justify-end gap-x-5">
    <div>{% render 'top-search' %}</div>
    <div>{% render 'top-account' %}</div>
    <div>{% render 'top-cart' %}</div>
  </div>
</div>
